# Determining type of Iris flower based on various parameters using Random Forest algorithm.

### Done by Abdul Farhan

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib inline

In [3]:
data=sns.load_dataset('iris')

In [4]:
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Separating the data as X=Independant Variables and y=Dependant Variables

In [6]:
X=data[['sepal_length','sepal_width','petal_length','petal_width']]  #features
y=data['species']  #Labels

In [7]:
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [8]:
y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

# Splitting the data into training and testing part

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)  #70% data for training, 30% for testing

In [11]:
len(X_train)

105

In [12]:
len(X_test)

45

In [13]:
len(y_train)

105

In [14]:
len(y_test)

45

In [15]:
from sklearn.ensemble import RandomForestClassifier

In [16]:
clf=RandomForestClassifier(n_estimators=100,criterion='gini')
# n_estimators tells us how many trees we need to include in our Random Forest, the default value is 100, keep it.
# The criterion gini will tell us how much impurity is present in dataset.

# Let us train the data

In [17]:
clf.fit(X_train,y_train)

RandomForestClassifier()

The training part has been trained

In [18]:
clf.predict(X_test)

array(['versicolor', 'versicolor', 'versicolor', 'versicolor',
       'virginica', 'setosa', 'setosa', 'versicolor', 'setosa',
       'versicolor', 'virginica', 'setosa', 'virginica', 'versicolor',
       'virginica', 'setosa', 'versicolor', 'virginica', 'setosa',
       'versicolor', 'virginica', 'versicolor', 'setosa', 'setosa',
       'virginica', 'setosa', 'virginica', 'versicolor', 'virginica',
       'setosa', 'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'virginica', 'virginica', 'setosa', 'virginica', 'setosa',
       'versicolor', 'setosa', 'versicolor', 'versicolor', 'virginica',
       'virginica'], dtype=object)

The testing part has been tested.

In [19]:
X_test              #(0 : setosa, 1 : versicolor, 2 : virginica)

     sepal_length  sepal_width  petal_length  petal_width
63            6.1          2.9           4.7          1.4
138           6.0          3.0           4.8          1.8
106           4.9          2.5           4.5          1.7
90            5.5          2.6           4.4          1.2
141           6.9          3.1           5.1          2.3
9             4.9          3.1           1.5          0.1
8             4.4          2.9           1.4          0.2
76            6.8          2.8           4.8          1.4
22            4.6          3.6           1.0          0.2
74            6.4          2.9           4.3          1.3
115           6.4          3.2           5.3          2.3
13            4.3          3.0           1.1          0.1
131           7.9          3.8           6.4          2.0
89            5.5          2.5           4.0          1.3
132           6.4          2.8           5.6          2.2
43            5.0          3.5           1.6          0.6
81            5.5          2.4           3.7          1.0
110           6.5          3.2           5.1          2.0
48            5.3          3.7           1.5          0.2
126           6.2          2.8           4.8          1.8
77            6.7          3.0           5.0          1.7
66            5.6          3.0           4.5          1.5
33            5.5          4.2           1.4          0.2
23            5.1          3.3           1.7          0.5
143           6.8          3.2           5.9          2.3
5             5.4          3.9           1.7          0.4
118           7.7          2.6           6.9          2.3
82            5.8          2.7           3.9          1.2
117           7.7          3.8           6.7          2.2
38            4.4          3.0           1.3          0.2
53            5.5          2.3           4.0          1.3
80            5.5          2.4           3.8          1.1
67            5.8          2.7           4.1          1.0
79            5.7          2.6           3.5          1.0
145           6.7          3.0           5.2          2.3
128           6.4          2.8           5.6          2.1
32            5.2          4.1           1.5          0.1
109           7.2          3.6           6.1          2.5
14            5.8          4.0           1.2          0.2
54            6.5          2.8           4.6          1.5
12            4.8          3.0           1.4          0.1
85            6.0          3.4           4.5          1.6
51            6.4          3.2           4.5          1.5
83            6.0          2.7           5.1          1.6
125           7.2          3.2           6.0          1.8

# Checking the accuracy of trained model.

In [20]:
clf.score(X_test,y_test)

0.8888888888888888

# Checking the accuracy of random features of trained model.

In [21]:
clf.predict([[3,5,4,2]])

/home/farhan/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array(['versicolor'], dtype=object)

In [22]:
clf.predict([[3,3,2,2]])

/home/farhan/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array(['setosa'], dtype=object)